<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
  
  <meta charset="UTF-8">  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Node-MySQL</title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-blue bg-dark">    
      <a class="navbar-brand" href="/">App Principal</a>    
      <ul class="navbar-nav mr-auto">    
        <li class="nav-item">    
          <a class="nav-link" href="/about">Inclui</a>    
        </li>    
        <li class="nav-item">    
          <a class="nav-link" href="/edita">Edita</a>    
        </li>    
        <li class="nav-item">    
          <a class="nav-link" href="/Insere">Sobre</a>    
        </li>    
      </ul>    
    </nav>  
    <div class="jumbotron jumbotron-fluid">
      <div class="container">      
        <h1 class="display-3">CRUD Node - MySQL</h1>      
        <h3>1 tabela</h3>      
        <div class="form-group"></div>
  </div>
</body>
</html>